<section class="w-full bg-white py-16 px-6 font-sans">
  <!--<div class="max-w-4xl mx-auto text-center mt-20 mb-24">
    <h2 class="text-3xl md:text-4xl font-bold text-[#2D4A5E] mb-4">¿En qué te podemos ayudar?</h2>
    <p class="text-gray-500 mb-8">Encuentra respuestas rápidas a tus dudas o comunícate con nuestro equipo.</p>

    <div class="relative max-w-2xl mx-auto flex items-center gap-2">
      <div class="relative flex-grow">
        <span class="absolute left-4 top-1/2 -translate-y-1/2 text-gray-400">🔍</span>
        <input type="text" placeholder="Escribe tu duda aquí..."
          class="w-full pl-12 pr-4 py-4 rounded-full border border-gray-100 shadow-sm focus:outline-none focus:ring-2 focus:ring-[#4FC0B0]/20">
      </div>
      <button
        class="bg-[#4FC0B0] text-white px-8 py-4 rounded-full font-bold hover:bg-[#3db0a0] transition-colors">Buscar</button>
    </div>
  </div> -->

  <div class="max-w-7xl mx-auto grid grid-cols-1 lg:grid-cols-3 gap-12 mt-16">

    <div class="lg:col-span-2">
      <h3 class="text-size28 font-bold text-blueTwo mb-8">Preguntas Frecuentes</h3>

      <div class="flex flex-col gap-4 w-full">
        @for (item of faqs; track $index) {
        <div class="border border-grayEleven rounded-[20px] overflow-hidden transition-all duration-300"
          [class.bg-grayTen]="faqOpen === $index" [class.border-arriendy-teal]="faqOpen === $index">

          <button (click)="toggleFaq($index)"
            class="w-full flex items-center justify-between p-6 text-left h-[47px] transition-colors duration-300">
            <span class="font-bold text-[#2D4A5E] text-[16px] leading-tight">
              {{ item.q }}
            </span>
            <svg class="w-5 h-5 text-[#2D4A5E] transition-transform duration-500 ease-in-out"
              [class.rotate-180]="faqOpen === $index" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
          </button>

          <div class="grid transition-all duration-500 ease-in-out"
            [style.grid-template-rows]="faqOpen === $index ? '1fr' : '0fr'">
            <div class="overflow-hidden">
              <div class="mx-6 border-t border-gray-200"></div>

              <div class="p-6 text-gray-600 text-[15px] leading-relaxed">
                {{ item.a }}
              </div>
            </div>
          </div>
        </div>
        }
      </div>

    </div>

    <div class="space-y-7 flex flex-col items-end">
      <div
        class="bg-blueSeven rounded-2xl py-5 px-4 text-white relative overflow-hidden  flex flex-col justify-between w-[255px] h-[234px] ">
        <div>
          <div class="w-[36px] h-[36px] rounded-xl flex items-center justify-center mb-3"
            style="background-color: #EF4444; box-shadow: 0 0 10px #EF4444, 0 0 20px #EF4444, inset 0 0 10px #EF4444;">
            <span class="text-white text-2xl" style="text-shadow: 0 0 5px #fff;"><img src="assets/imgs/warning.svg"
                alt=""></span>
          </div>
          <h4 class="text-white font-bold mb-3 text-size16">Activar protección</h4>
          <p class="text-white text-size11 mb-1 leading-relaxed opacity-90">
            Si tu inquilino presenta mora o necesitas activar la asistencia legal de SURA, repórtalo inmediatamente.
          </p>
        </div>

        <button
          class="w-full bg-white text-blueFive text-size14 h-[38px] font-bold  rounded-xl hover:bg-gray-100 transition-colors mt-auto">
          Reportar Siniestro
        </button>
      </div>

      <div class="bg-grayTen rounded-2xl p-4 w-[255px]">
        <h4 class="text-size16 font-bold text-blueTwo mb-2 text-center">Habla con un humano</h4>
        <p class="text-size11 text-grayNine text-center mb-4  font-">
          Nuestro equipo está disponible de<br>Lunes a Viernes (8am - 6pm).
        </p>

        <div class="space-y-4">
          <div
            class=" bg-white h-[47px] p-4 rounded-lg flex items-center gap-4 shadow-sm border border-transparent hover:border-green-100 transition-all cursor-pointer">
            <div class="w-10 h-10 bg-green rounded-full flex items-center justify-center text-green-500 text-xl">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="#25D366" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-message-circle">
                <path d="M7.9 20A9 9 0 1 0 4 16.1L2 22Z" />
              </svg>
            </div>
            <div>
              <p class="text-size12 font-bold text-blueFive">WhatsApp</p>
              <p class="text-size10 text-grayNine">Respuesta en 15 min</p>
            </div>
          </div>

          <div
            class="bg-white h-[47px] p-4 rounded-lg flex items-center gap-4 shadow-sm border border-transparent hover:border-green-100 transition-all cursor-pointer">

            <div
              class="w-10 h-10 bg-[#E6F0FF] rounded-full flex items-center justify-center transition-colors group-hover:bg-[#dbeafe]">
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none"
                stroke="#3B82F6" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round">
                <rect width="20" height="16" x="2" y="4" rx="2" />
                <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7" />
              </svg>
            </div>

            <div class="flex flex-col">
              <p class="text-size12 font-bold text-blueFive">Correo Electrónico</p>
              <p class="text-size10 text-grayNine">hola&#64;arriendy.com</p>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</section>