<div class="relative w-full min-h-screen  font-sans bgGradient">

  <img src="assets/gifs/palm.gif" alt="Palmera Arriendy"
    class="absolute z-0 top-[-25%] left-[-5%] w-[320px] h-auto pointer-events-none transform -translate-x-10 rotate-[17deg]" />


  <div class="relative z-10">
    <div class="max-w-6xl mx-auto px-4 py-12 font-sans text-[#2D4A5E]">

      <div class="hidden md:block text-center mb-7">
        <h2 class="text-size28 font-bold mb-2">Personaliza tu tranquilidad</h2>
        <p class="text-gray-500 text-size14">
          No todos los arrendamientos son iguales. Elige el nivel de protección que mejor se adapte a tu estilo de vida.
        </p>
      </div>

      <div class="max-w-2xl mx-auto bg-white rounded-2xl shadow-lg p-4 md:p-8 mb-12 text-center">
        <h4 class="text-[11px] font-bold tracking-widest uppercase text-[#2D4A5E] mb-1">
          ¿Qué es lo más importante para ti hoy?
        </h4>
        <h4 class="text-[11px] tracking-widest text-[#2D4A5E] mb-5">
          Elige el plan que mejor se adapte a tu nivel de tranquilidad
        </h4>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-3 md:gap-2 p-1 rounded-xl">

          <button (click)="selectPlan('esencial')"
            [ngClass]="planSeleccionado === 'esencial' ? 'bg-blue text-blueTwo shadow-md border border-grayFive' : 'bg-white text-blueTwo hover:bg-gray-100 border border-[#2B526473]'"
            class="py-3 px-2 text-xs font-bold rounded-lg border border-graySeven transition-all duration-300">
            Solo lo esencial
          </button>

          <button (click)="selectPlan('balance')"
            [ngClass]="planSeleccionado === 'balance' ? 'bg-blue text-blueTwo shadow-md border border-grayFive' : 'bg-white text-blueTwo hover:bg-gray-100 border border-[#2B526473]'"
            class="py-3 px-2 text-xs font-bold rounded-lg border border-graySeven transition-all duration-300">
            Balance ideal
          </button>

          <button (click)="selectPlan('cero')"
            [ngClass]="planSeleccionado === 'cero' ? 'bg-blue text-blueTwo shadow-md border border-grayFive' : 'bg-white text-blueTwo hover:bg-gray-100 border border-[#2B526473]'"
            class="py-3 px-2 text-xs font-bold rounded-lg border border-graySeven transition-all duration-300">
            Cero preocupaciones
          </button>

        </div>
      </div>

      <div class="w-full relative z-10  md:px-0">
        <swiper-container #plansSlider init="false" class="plans-slider-container">
          <swiper-slide class="py-10 px-2 h-auto">

            <div [ngClass]="{
    'border-blueThree border-2 md:scale-105 shadow-2xl z-20': planSeleccionado === 'esencial',
    'md:opacity-80 md:grayscale-[20%] md:scale-95 border border-grayFive': planSeleccionado !== 'esencial'
  }" class="bg-white rounded-3xl p-3 md:p-8 flex flex-col transition-all duration-500 cursor-pointer"
              (click)="selectPlan('esencial')">

              <div class="flex items-center gap-4 mb-6">
                <div class="w-16 h-16 bg-blue-50 rounded-2xl flex items-center justify-center text-3xl">
                  <img src="assets/imgs/rubi.svg" alt="">
                </div>
                <div>
                  <span class="text-size14 tracking-widest text-gray font-bold">Plan Básico</span>
                  <h3 class="text-size22 font-bold text-blueTwo">Esencial</h3>
                  <p class="text-size14 text-grayTwo">Protección básica</p>
                </div>
              </div>

              <ul class="space-y-4">
                <li class="flex items-center gap-3 text-size14 text-black font-medium"><span class="text-blue-500"><img
                      src="assets/imgs/check.svg" alt=""></span> Canon de arrendamiento</li>
                <li class="flex items-center gap-3 text-size14 text-black  font-medium"><span class="text-blue-500"><img
                      src="assets/imgs/check.svg" alt=""></span> Cuota administración</li>
                <li class="flex items-center gap-3 text-size14 font-medium text-grayThree "><span
                    class="text-blue-500"><img src="assets/imgs/x.svg" alt=""></span> Servicios públicos</li>
                <li class="flex items-start gap-3 text-size14  text-black font-medium"><span class="text-blue-500"><img
                      src="assets/imgs/check.svg" alt=""></span> Límite de indemnización: Hasta vigencia de la póliza
                </li>
              </ul>

              <div class="pt-6 mt-10">
                <h5 class="text-size12  text-black font-bold uppercase tracking-widest mb-3">Coberturas Opcionales</h5>
                <div class="flex items-center gap-3 text-size12 font-medium text-black"><span><img
                      src="assets/imgs/+.svg" alt=""></span> Asistencia domiciliaria</div>
              </div>

              <div class="mt-auto">
                <p class="text-size14 text-gray-400 italic mb-4">Tomador: Propietario<br>Máximo valor del canon COP$:
                  Sin
                  límite</p>
                <button (click)="onQuoteClick()"
                  [ngClass]="planSeleccionado === 'esencial' ? 'bg-secondary' : 'bg-grayFour'"
                  class="w-full text-white text-size16 font-bold py-4 rounded-xl mb-3 transition-colors duration-300">
                  Cotizar seguro
                </button>
                <p class="text-size11 text-blueFour text-center font-medium">Pago único por la vigencia de tu contrato
                </p>
              </div>
            </div>
          </swiper-slide>
          <swiper-slide class="py-10 px-2  h-auto">

            <div [ngClass]="{
    'border-blueThree border-2 md:scale-105 shadow-2xl z-20 bg-[#F8FFFF]': planSeleccionado === 'balance',
    'md:opacity-80 md:grayscale-[20%] md:scale-95 bg-white border border-grayFive': planSeleccionado !== 'balance'
  }" class="rounded-3xl p-3 md:p-8 flex flex-col relative transition-all duration-500 cursor-pointer"
              (click)="selectPlan('balance')">

              <div *ngIf="planSeleccionado === 'balance'"
                class="absolute -top-4 right-8 bg-[#4FC0B0] text-white text-[9px] font-bold px-4 py-1.5 rounded-full tracking-widest animate-bounce">
                MÁS ELEGIDO
              </div>

              <div class="flex items-center gap-4 mb-6">
                <div class="w-16 h-16 bg-teal-50 rounded-2xl flex items-center justify-center text-3xl">
                  <img src="assets/imgs/shield.svg" alt="">
                </div>
                <div>
                  <span class="text-size14  tracking-widest text-secondary font-bold">Plan Clásico</span>
                  <h3 class="text-size22 font-bold text-black">Protección PLUS</h3>
                  <p class="text-size14 text-black">Más respaldo</p>
                </div>
              </div>

              <ul class="space-y-4 mb-8 flex-grow">
                <li class="flex items-center gap-3 text-size14 text-black font-medium"><span class="text-blue-500"><img
                      src="assets/imgs/check.svg" alt=""></span> Canon de arrendamiento</li>
                <li class="flex items-center gap-3 text-size14 text-black font-medium"><span class="text-blue-500"><img
                      src="assets/imgs/check.svg" alt=""></span> Cuota administración</li>
                <li class="flex items-center gap-3 text-size14 text-black font-medium"><span class="text-blue-500"><img
                      src="assets/imgs/check.svg" alt=""></span> Servicios públicos</li>
                <li class="flex items-start gap-3 text-size14 text-black font-medium"><span class="text-blue-500"><img
                      src="assets/imgs/check.svg" alt=""></span> Límite de indemnización: <span class="font-bold">12
                    meses</span></li>
              </ul>

              <div class=" pt-6 mb-8">
                <h5 class="text-size14 font-extrabold uppercase tracking-widest mb-4">Coberturas Opcionales</h5>
                <div class="space-y-3">
                  <div class="flex items-center gap-3 text-size14 font-bold text-blue-600"><span><img
                        src="assets/imgs/+.svg" alt=""></span> Asistencia domiciliaria</div>
                  <div class="flex items-center gap-3 text-size14 font-bold text-blue-600"><span><img
                        src="assets/imgs/+.svg" alt=""></span> Daños y faltantes</div>
                </div>
              </div>

              <div class="mt-auto">
                <p class="text-size14 text-gray-400 italic mb-4">Tomador: Propietario<br>Máximo valor del canon COP$:
                  Sin
                  límite</p>
                <button (click)="onQuoteClick()"
                  [ngClass]="planSeleccionado === 'balance' ? 'bg-[#4FC0B0]' : 'bg-[#BCC3CF]'"
                  class="w-full text-white font-bold py-4 rounded-xl mb-3  text-size16 transition-colors duration-300">
                  Cotizar seguro
                </button>
                <p class="text-size11 text-blueFour text-center font-medium">Pago único por la vigencia de tu contrato
                </p>
              </div>
            </div>
          </swiper-slide>
          <swiper-slide class="py-10 px-2  h-auto">

            <div [ngClass]="{
    'border-blueThree border-2 md:scale-105 shadow-2xl z-20': planSeleccionado === 'cero',
    'md:opacity-80 md:grayscale-[20%] md:scale-95 border border-grayFive': planSeleccionado !== 'cero'
  }" class="bg-white rounded-3xl p-3 md:p-8 border flex flex-col transition-all duration-500 cursor-pointer"
              (click)="selectPlan('cero')">

              <div class="flex items-center gap-4 mb-6">
                <div class="w-16 h-16 bg-blue-50 rounded-2xl flex items-center justify-center text-3xl">
                  <img src="assets/imgs/diamond.svg" alt="">
                </div>
                <div>
                  <span class="text-size14 tracking-widest text-secondary font-bold">Plan Global</span>
                  <h3 class="text-size22 text-black font-bold">Tranquilidad 360°</h3>
                  <p class="text-size14 text-black text-gray-400">Todo incluido</p>
                </div>
              </div>

              <ul class="space-y-4 mb-8 flex-grow">
                <li class="flex items-center gap-3 text-size14 text-black font-medium"><span class="text-blue-500"><img
                      src="assets/imgs/check.svg" alt=""></span> Canon de arrendamiento</li>
                <li class="flex items-center gap-3 text-size14 text-black font-medium"><span class="text-blue-500"><img
                      src="assets/imgs/check.svg" alt=""></span> Cuota administración</li>
                <li class="flex items-center gap-3 text-size14 text-black font-medium"><span class="text-blue-500"><img
                      src="assets/imgs/check.svg" alt=""></span> Servicios públicos</li>
                <li class="flex items-start gap-3 text-size14 text-black font-medium"><span class="text-blue-500"><img
                      src="assets/imgs/check.svg" alt=""></span> Límite de indemnización: <span class="font-bold">36
                    meses</span></li>
              </ul>

              <div class="pt-6 mb-8">
                <h5 class="text-size14 font-extrabold uppercase tracking-widest mb-4">Coberturas Opcionales</h5>
                <div class="space-y-3">
                  <div class="flex items-center gap-3 text-size14 text-black font-bold text-blue-600"><span><img
                        src="assets/imgs/+.svg" alt=""></span> Asistencia domiciliaria</div>
                  <div class="flex items-center gap-3 text-size14 text-black font-bold text-blue-600"><span><img
                        src="assets/imgs/+.svg" alt=""></span> Daños y faltantes</div>
                </div>
              </div>

              <div class="mt-auto">
                <p class="text-size14 text-gray-400 italic mb-4">Tomador: Propietario<br>Máximo valor del canon COP$:
                  Sin
                  límite</p>
                <button (click)="onQuoteClick()"
                  [ngClass]="planSeleccionado === 'cero' ? 'bg-[#4FC0B0]' : 'bg-[#BCC3CF]'"
                  class="w-full text-white font-bold py-4 rounded-xl mb-3 transition-colors duration-300">
                  Cotizar seguro
                </button>
                <p class="text-size11 text-blueFour text-center font-medium">Pago único por la vigencia de tu contrato
                </p>
              </div>
            </div>
          </swiper-slide>
        </swiper-container>

      </div>
    </div>
  </div>
</div>