<section class="w-full bg-[#183642] py-20 px-6 font-sans">
    <div class="max-w-4xl mx-auto flex flex-col items-center text-center">

        <span
            class="bg-secondary text-white text-size14 font-bold uppercase tracking-widest px-6 py-2 rounded-full mb-8 shadow-inner">
            ALIANZA ESTRATÉGICA
        </span>

        <h2 class="text-size68 md:text-size36 font-extrabold text-white mb-8 leading-tight">
            Respaldo que genera confianza
        </h2>

        <p class="text-white text-size16 md:text-white leading-relaxed max-w-2xl mb-12">
            <strong class="font-bold">Arriendy</strong> es la plataforma digital para la gestión integral y la
            comercialización de los seguros de arrendamiento de <strong class="font-bold">SURA</strong>. Es un servicio
            creado por Seguros Alderecho Ltda y Suramericana de Seguros.
        </p>

        <div
            class="bg-white rounded-2xl w-80 h-16 shadow-lg p-5 gap-3 flex flex-col md:flex-row items-center 
                justify-center max-w-xl mx-auto hover:shadow-xl transition-shadow duration-300">

            <div class="flex justify-center items-center">
                <img src="assets/imgs/derecho.svg" alt="Seguros Alderecho Logo" class="h-7 w-auto object-contain">
            </div>

            <div class="h-[1px] w-20 bg-[#E0E0E0] md:w-[1px] md:h-12 md:bg-[#E0E0E0]"></div>

            <div class="flex justify-center items-center">
                <img src="assets/imgs/sura.svg" alt="SURA Logo" class="h-7 w-auto object-contain">
            </div>

        </div>

    </div>
</section>