<section class="w-full relative  h-[924px]">

    <div class="absolute inset-0 z-0">
        <img src="assets/imgs/blueBG.svg" alt="Fondo" class="w-full h-96 object-cover object-bottom">
    </div>

    <img src="assets/gifs/locals.gif" alt=""
        class="img-overflow-fix absolute right-0 z-10 hidden xl:block pointer-events-none">

    <div class="mx-auto px-4 relative z-20 w-full ">

        <h2 class="font-inter text-white text-size36 md:text-size36 font-bold pt-28 text-center">
            Iniciar estudio
        </h2>
        <p class="text-white text-size16 md:text-size16 text-center mt-4">
            Realiza el estudio de perfil de forma rápida, segura y 100% digital.
        </p>
    </div>
</section>  