<section class="relative  w-full h-[450px] md:h-[725px] overflow-visible">
  <div class="absolute inset-0 z-0">
    <img src="assets/gifs/factory.gif" alt="Ciudad Arriendy Sura" class="w-full object-cover object-center h-[467px]" />
  </div>

  <div class="relative top-[-13%] z-10 max-w-7xl h-full flex items-center ">
    <div class="relative bg-blueSeven rounded-sm shadow-2xl w-[899px] h-[256px] pt-7 pb-[23px] pl-[243px] rounded-r-3xl">
      <div class="flex flex-col justify-between w-[590px]">
        <p class="font-inter text-white text-size28 leading-tight italic font-bold">
          Únete a nuestra empresas aliadas, recibe atención preferencial y todos los beneficios del programa EMPRESAS
          SURA!

        </p>
        <p class="font-inter mt-[15px] mb-[15px] text-white text-size16 font-regular">
          Seguros Alderecho es nuestro canal corporativo y especiilzado para la gestión de servicios y beneficios para
          empresas, inmobiliarias, constructoras, fondos de empleados, cooperativas y todo tipo de instituciones.
        </p>
      </div>
    </div>
  </div>
</section>