<div class="relative w-full bg-[#EEF6F9] py-16 lg:py-24  overflow-y-visible h-[651px]">

    <img src="assets/imgs/homeBenefits.png"
        class="absolute  bottom-0 h-[750px] w-auto max-w-none object-contain object-left z-0 pointer-events-none opacity-20 lg:opacity-100"
        alt="Ilustración decorativa" />

    <div class="relative z-10 max-w-7xl mx-auto px-4 md:px-8">

        <h2 class="text-size28 font-bold text-center text-blueTwo mb-12 lg:mb-16 leading-tight">
            ¿Qué cubre exactamente tu seguro?
        </h2>

       <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-[15px] w-fit mx-auto">
  
  @for (item of servicios; track item.titulo) {
    <div class="bg-white rounded-[18px] p-6 shadow-sm  flex flex-col group w-[306px] h-[185px]">
        
        <div class="flex items-center gap-4 mb-3">
            <div class="w-10 h-10 rounded-full bg-third flex items-center justify-center text-blue-500 shrink-0 shadow-inner">
                <img [src]="'assets/imgs/' + item.img" [alt]="item.titulo" class="w-5 h-5">
            </div>
            <h3 class="font-bold text-blueFive text-size22 leading-tight" [innerHTML]="item.titulo"></h3>
        </div>

        <p class="text-size14 text-grayNine leading-snug">
            {{ item.desc }}
        </p>

    </div>
  }

</div>
    </div>
</div>