<footer class="w-full bg-white font-inter">
  <div class="w-full bg-blueTwo py-2 px-4 text-center">
    <p class="text-white text-size16  font-medium">
      <span class="font-bold">Arriendy</span> es un servicio especializado de la Promotora de Arrendamientos
      <a href="#" class="underline text-secondary">SEGUROS ALDERECHO LTDA.</a>
    </p>
  </div>

  <div class="max-w-[1440px] mx-auto px-20 py-9 h-[200px]">
    <div class="grid grid-cols-1 md:grid-cols-12 gap-12 items-center">

      <div
        class="md:col-span-5 flex items-center justify-center md:justify-start gap-8 border-b md:border-b-0 pb-8 md:pb-0">
        <img src="assets/imgs/arriendy.svg" alt="Arriendy Logo" class="h-12 w-auto" />
        <div class="h-16 w-[2px] bg-graySeven hidden md:block"></div>
        <img src="assets/imgs/sura.svg" alt="Sura Logo" class="h-10 w-auto" />
      </div>

      <div class="md:col-span-7 grid grid-cols-1 sm:grid-cols-3 gap-8">

        <div>
          <h5 class="text-[#1a3e48] font-bold text-sm tracking-widest uppercase mb-2">Producto</h5>
          <ul class="space-y-4 text-gray-500 text-sm font-medium">
            <li><a href="#" class="hover:text-arriendy-teal transition-colors">Cómo funciona</a></li>
            <li><a href="#" class="hover:text-arriendy-teal transition-colors">Planes</a></li>
            <li><a href="#" class="hover:text-arriendy-teal transition-colors">Coberturas</a></li>
            <li><a href="#" class="hover:text-arriendy-teal transition-colors">Preguntas frecuentes</a></li>
          </ul>
        </div>

        <div>
          <h5 class="text-[#1a3e48] font-bold text-sm tracking-widest uppercase mb-6">Soporte</h5>
          <ul class="space-y-4 text-gray-500 text-sm font-medium">
            <li class="flex items-center gap-2">
              <ng-icon name="lucideMessageCircleMore" class="w-4 h-4 text-gray-400"></ng-icon>
              <a href="#" class="hover:text-arriendy-teal transition-colors">Chat en vivo</a>
            </li>
            <li class="flex items-center gap-2">
              <ng-icon name="lucidePhone" class="w-4 h-4 text-gray-500 fill-current"></ng-icon>
              <a href="tel:018000123123" class="hover:text-arriendy-teal transition-colors">01 8000 123 123</a>
            </li>
            <li class="flex items-center gap-2">
              <ng-icon name="lucideMail" class="w-4 h-4 text-gray-400"></ng-icon>
              <a href="mailto:hola@arriendy.com"
                class="hover:text-arriendy-teal transition-colors">hola&#64;arriendy.com</a>
            </li>
            <li>
              <a href="#" class="hover:text-arriendy-teal transition-colors">Centro de ayuda</a>
            </li>
          </ul>
        </div>

        <div>
          <h5 class="text-[#1a3e48] font-bold text-sm tracking-widest uppercase mb-6">Seguridad</h5>
          <ul class="space-y-4 text-gray-500 text-sm font-medium">
            <li><a href="#" class="hover:text-arriendy-teal transition-colors">Privacidad</a></li>
            <li><a href="#" class="hover:text-arriendy-teal transition-colors">Términos legales</a></li>
            <li><a href="#" class="hover:text-arriendy-teal transition-colors">Uso de cookies</a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>

  <div class="w-full  border-gray-100">
    <div class="max-w-[1440px] pb-3">
      <p class="ml-5 text-size10 md:text-xs text-grayEight font-medium text-left">
        © 2026 Arriendy S.A. Todos los derechos reservados. Vigilado por la Superintendencia Financiera.
      </p>
    </div>
  </div>
</footer>