<section class="w-full">
  <h1 class="text-center text-size28 text-blueTwo font-bold pt-16 mb-5">¿Tienes dudas? Aquí te las resolvemos</h1>
  <div class="relative min-h-[750px] flex flex-col items-center  overflow-hidden">
    <div class="w-full max-w-[1400px] relative z-10">
      <swiper-container #swiperRef init="false" class="mySwiper">
        <swiper-slide *ngFor="let item of benefits" class="max-w-[95%] md:max-w-[600px] pt-16 pb-10">
          <div
            class="relative bg-white rounded-3xl pt-3 shadow-2xl w-[428px] h-[253px] flex flex-col items-center text-center">
            <div
              class="absolute top-0 left-[14%]  w-[86px] h-[86px] -translate-x-1/2 -translate-y-1/2 w-32 h-32 rounded-full  shadow-lg overflow-hidden z-10 ">
              <img [src]="item.avatar" [alt]="'Avatar de ' + item.title" class="w-full h-full object-cover" />
            </div>

            <div class="pt-14 px-5 w-full">
              <h4 class="font-inter font-bold text-black text-size16 mb-5  uppercase tracking-wider text-left">
                {{ item.title }}
              </h4>

              <p class="text-black text-size16 leading-4 text-justify font-inter font-normal whitespace-pre-line">
                {{ item.desc }}
              </p>
            </div>
          </div>
        </swiper-slide>
      </swiper-container>
    </div>

    <div class="w-full max-w-4xl flex items-center justify-center gap-10 mt-6 z-20 pb-10">
      <button #prevBtn
        class="bg-white w-[135px] h-[36px] flex items-center justify-center rounded-2xl shadow-sm border border-grayFive hover:bg-gray-50 transition-all shrink-0">
        <svg class="w-5 h-5 text-[#5B787D]" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
        </svg>
      </button>

      <div class="relative w-[200px] h-[24px] flex items-center justify-center">
        <div class="absolute w-full h-[2px] bg-[#C5D7D9] top-1/2 -translate-y-1/2 z-0"></div>

        <div class="relative w-full flex justify-between items-center z-10">
          <span *ngFor="let item of baseBenefits; let i = index" (click)="goToSlide(i)"
            class="transition-all duration-300 cursor-pointer shadow-[0_0_0_4px_#EDF6F6] rounded-full" [ngClass]="{
        '!bg-arriendy-teal !w-[12px] !h-[12px]': i === activeDotIndex,
        '!bg-[#AEC7CA] !w-[10px] !h-[10px]': i !== activeDotIndex
      }">
          </span>
        </div>
      </div>

      <button #nextBtn
        class="bg-secondary w-[135px] h-[36px] flex items-center justify-center rounded-2xl shadow-md hover:bg-arriendy-dark transition-all text-white shrink-0">
        <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
        </svg>
      </button>
    </div>

    <div class="flex items-center text-blueFour text-size14 underline">
      <a href="#">Ver todas las preguntas frecuentes</a>

    </div>

  </div>
</section>