<div class="relative w-full min-h-screen bg-white">
  <div class="absolute top-0 left-0 w-full h-[435px] md:h-[425px] z-0">

    <img src="assets/imgs/bgLight.png" class="absolute top-0 left-0 w-full h-full object-cover" alt="Fondo Azul" />

    <img src="assets/imgs/palmL.png"
      class="absolute top-[35%] left-0 w-[200px] md:w-[280px] h-auto object-contain object-left" alt="Palmera" />

  </div>

  <div class="relative z-10 max-w-6xl mx-auto px-4 py-16 font-sans text-blueFive">

    <div class="text-center mb-60 mt-12">
      <h2 class="text-size36 md:text-size36  font-bold mb-6 leading-tight">
        Innovación digital con respaldo de <br class="hidden md:block"> tradición.
      </h2>
      <p class="text-blueFive/80 text-base max-w-3xl mx-auto ">
        Nacimos para transformar la forma en la que aseguras tus arrendamientos. Olvídate del papeleo infinito y de la
        falta de acompañamiento. En <strong>Arriendy</strong> cuentas con personas reales, apoyadas en tecnología, para
        responder a tus necesidades.
      </p>
    </div>

    <div class="text-center mb-12">
      <p class="text-size24 md:text-size24 font-medium mb-12 max-w-4xl mx-auto">
        Construimos un equipo humano capaz de brindar servicios de alta calidad para clientes y aliados.
        <span class="font-bold">Nuestros pilares son tecnología, confianza y cercanía.</span>
      </p>

      <div class="grid grid-cols-1 md:grid-cols-3 gap-[15px] w-fit mx-auto">

        @for (item of valores; track $index) {
        <div
          class="bg-white rounded-[24px] p-8 border border-grayFive shadow-sm flex flex-col items-center text-center w-[306px] h-[185px] justify-center transition-all hover:shadow-md">

          <div class="w-14 h-14 bg-[#F1F3F4] rounded-full flex items-center justify-center mb-4 shrink-0">
            <img [src]="item.icon" class="w-7 h-7" alt="icon">
          </div>

          <p class="text-size16 text-blueFive font-bold leading-tight px-2" [innerHTML]="item.texto"></p>

        </div>
        }

      </div>
    </div>

  </div>
</div>