/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  background-color: #f6f8fb;
}

:root {
  --swiper-pagination-bullet-horizontal-gap: 8px; /* Espacio entre los puntos */
}


.bgGradient {
  background: linear-gradient(to right, #F6F8FB 0%, #ffffff 100%);
  width: 100%;

}


/* En src/styles.scss */
.opacity-0 {
  opacity: 0 !important;
}

.animate-fade-up {
  animation: fadeInUpCustom 0.8s cubic-bezier(0.2, 0.8, 0.2, 1) forwards !important;
}

/* Estado inicial: invisible y un poco más abajo */
.opacity-0 {
  opacity: 0;
  transform: translateY(40px); 
  transition: none; /* Evita conflictos con el hover mientras aparece */
}

/* Esta es la clase que inyecta tu directiva */
.animate-fade-up {
  animation: fadeInUp 0.8s cubic-bezier(0.2, 0.8, 0.2, 1) forwards !important;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}